#gridContainer {
    width: 500px;
    height: 500px;
    display: grid;
    place-items: stretch;
}

.grid {
    margin: 0;
    padding: 0;
    border: 1px solid #BEBEBE;
    background-color: #C0C0C0;
}