#redBorder {
    background-color: #C12F2F;
    padding: 20px 50px;
    width: max-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.borderDetailContainer {
    font-family: 'Varela Round', sans-serif;
    color: #F7DC6F;
    font-size: 24px;
    line-height: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-shadow: -2px 2px #912323;
}

.titleText {
    font-family: 'Ephesis', cursive;
    font-size: 52px;
    line-height: 52px;
}

.dial {
    background-color: #F8F8F8;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px outset;
}

#gridContainer {
    width: 600px;
    height: 360px;
    border-radius: 30px;
    margin: 20px 0;
    overflow: hidden;
    display: grid;
    place-items: stretch;
}

.grid {
    margin: 0;
    padding: 0;
    border: 1px solid #BEBEBE;
    background-color: #C0C0C0;
}